# First Attempt at Titanic Dataset from Kaggle

In [1]:
# To support both python 2 and python 3
from __future__ import division, print_function, unicode_literals

# Common imports
import numpy as np
import os

# to make this notebook's output stable across runs
np.random.seed(42)

# To plot pretty figures
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt

import pandas as pd

In [2]:
import pandas as pd
import numpy as np
train_data = pd.read_csv('datasets/train.csv')
test_data = pd.read_csv('datasets/test.csv')

## Exploring the dataset

Taking a look at the training data provided

In [3]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
train_data.shape

(891, 12)

The above shows us all the details of the data including the number of features and the amount of data available

## Starting with training the model

Setting target and train columns
For my first attempt I am choosing the features Pclass, Age and Sex to train my model

In [5]:
column_target = ['Survived']
column_train = ['Pclass', 'Sex', 'Age']

Now I am assigning the training features to X axis and the target to Y axis

In [6]:
X = train_data[column_train]
Y = train_data[column_target]

Now we will check is there are any NaN values in the features we have selected

In [7]:
X['Pclass'].isnull().sum()

0

In [8]:
X['Sex'].isnull().sum()

0

In [9]:
X['Age'].isnull().sum()

177

Now as the Age feature has NaN values we need to do something with those empty rows in the Age feature

For my first attempt I am going to consider the mean value of age to fill in the NaN Age rows

In [10]:
X['Age'] = X['Age'].fillna(X['Age'].mean())

/Users/khushaljobanputra/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
#Confirming the NaN values in Age feature now
X['Age'].isnull().sum()

0

Now as the Sex feature is not in int values so we will preprocess the data by setting 0 for males and 1 for females

In [12]:
d = {'male': 0, 'female': 1}
X['Sex'] = X['Sex'].apply(lambda x:d[x])

/Users/khushaljobanputra/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy